div.hero-unit
    h1 #{title}
    p #{description}
    
div.content
  div.row
    div.span12
      table.table
        tr
          td 
            strong Self Signed Certificate
          td 
            button(type='submit').btn.btn-info Download KEY + PEM Zip
          td 
            button(type='submit').btn.btn-info Download PFX

