div.page-header
    h1 Please fill certificate information
        small  (optional)
    
div.content
  div.row
    div.span12
      form(name='form-fillinfo', method='POST', action='/download').form-horizontal
        //legend Please fill additional certificate information \(optional\)
        - var names = ["country", "state", "city", "org", "org_unit", "email"];
        - var labels = [];
        - labels[0] = "Country Name (2 letter code)";
        - labels[1] = "State or Province Name";
        - labels[2] = "Locality Name (eg, city)";
        - labels[3] = "Organization Name (eg, company)";
        - labels[4] = "Organizational Unit Name (eg, section)";
        - labels[5] = "Email Address";
        - var values = [];
        - values[0] = "US";
        - values[1] = "Some-State";
        - values[2] = "";
        - values[3] = "Internet Widgits Pty Ltd";
        - values[4] = "";
        - values[5] = "";
        each name, i in names
          label #{labels[i]}
          input(name=#{name}, type='text', value='#{values[i]}').input-xxlarge##{name}
        span.help-block
        button(type='submit').btn.btn-primary.offset5 To the Final Step
