div.page-header
    h1 Frequently asked questions
    
div.content
  div.row
    div.span12
      
      h2 What is Certificate Depot?
      p Certificate Depot is an online tool that enables you to create self-signed SSL certificates within seconds and completely for free. The certificates are suitable for any purpose e.g., HTTPS websites, Client SSL / TLS authentication, file encryption, etc.
      
      h2 What is certificate?
      p 
        | By term certificate I refer to public-key certificate. Please read more about it 
        a(href="http://en.wikipedia.org/wiki/Public_key_certificate") here. 

      h2 What private key length do you use?
      p 
        | Currently 1024. If you think this should be bigger / configurable please 
        a(href="mailto:dima@stopel.org?Subject=CertDepot feedback") let me know.  

      h2 What is the password to the PFX file you generate?
      p 
        | The password can be specified during the second step of the certificate creation (last field). The default password is "password".

      h2 How can I contact you?
      p 
        | Via 
        a(href="mailto:dima@stopel.org?Subject=CertDepot feedback") email.


