div.page-header
    h1 Help and About
    
div.content
  div.row
    div.span12
      h2 FAQ
      h3 What is Certificate Depot?
      p Certificate Depot is an online tool that enables you to create self-signed SSL certificates within seconds and completely for free. The certificates are suitable for any purpose e.g., HTTPS websites, Client SSL / TLS authentication, file encryption, etc.
      
      h3 What is certificate?
      p 
        | By term certificate I refer to public-key certificate. Please read more about it 
        a(href="http://en.wikipedia.org/wiki/Public_key_certificate") here. 

      h3 What private key length do you use?
      p 
        | Currently 1024. If you think this should be bigger / configurable, please 
        a(href="mailto:dima@stopel.org?Subject=CertDepot feedback") let me know.  

      h3 What is the password to the PFX file you generate?
      p 
        | The password can be specified during the second step of the certificate creation (last field). The default password is "password".

      h2.helpMargin About
      h3 What technologies did you use?
      p 
        | nodejs, jade, bootstrap, openssl.
      h3 Where is it hosted?
      p 
        a(href="http://prgmr.com") prgmr.com. 
      h3 Who pays for the hosting?
      p 
        | Currently I am. I need to solve it somehow in the future (flattr?). 
      h3 How can I contact you?
      p 
        | Via 
        a(href="mailto:dima@stopel.org?Subject=CertDepot feedback") email.


