div.hero-unit
    h1 #{title}
    p #{description}
    

div.row
  div.span12
    form(name='form-entercn', method='POST', action='/fillinfo').form-horizontal
      div.control-group
        label(for='cn').control-label
          | Enter 
          strong Common Name: 
        div.controls
          div.input-append
            input(name='cn', type='text', placeholder="Enter Certificate's Common Name here")#cn.span8
            button(type='submit').btn.btn-primary Get Certificate!
