!!!
html
    head
      title Certificate Depot - Generate your SSL certificate now!
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css')
      //link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-responsive.min.css')
      link(rel='stylesheet', href='/stylesheets/custom.css')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')    
      script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js')
      script(src='http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js')

      

    body
      div.container
        a(href="https://github.com/dimastopel/certdepot", target="_blank")
          img(style="position: absolute; top: 40px; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")

      div.navbar.navbar-fixed-top
          div.navbar-inner
            div.container
              a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar 
                span.icon-bar
                span.icon-bar
                span.icon-bar
                a(href='/').brand #{title}
                div.nav-collapse
                  ul(style='float:right').nav.secondary-nav
                    if page == 'help'
                      li.active
                        a(href='/help') Help & About
                    else
                      li
                        a(href='/help') Help & About
                  ul(style='float:right').nav
                    if page == 'index'
                      li.active
                        a(href='/') Home
                    else 
                      li
                        a(href='/') Home
      
      div.container(style='margin-top: 60px')!= body
      
      div.container.footer
        div.row
          div.span12.centered
            p
              | Created by 
              a(href='https://github.com/dimastopel')(target='_blank') Dima Stopel
            p
              a(href="http://flattr.com/thing/981539/Certificate-Depot", target="_blank")
                img(src="http://api.flattr.com/button/flattr-badge-large.png", alt="Flattr this", title="Flattr this", border="0") 

