.table th, .table td {
	text-align: center;
	vertical-align: middle;
}

.hide {
	display: none;
}


label.valid {
  width: 24px;
  height: 24px;
  background: url(assets/img/valid.png) center center no-repeat;
  text-indent: -9999px;
}

label.error {
  display: inline-block;
  color: #CC0000;
  padding: 2px 8px;
  margin-top: 2px;
  font-weight: bold;
}

/*
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
*/

.centered {
  text-align: center;
}

.footer {
  margin-top: 60px;
  /*
  position:fixed; 
  bottom:0;
  */
}

.mainForm {
  margin-top: 40px;
}

/*
p {
  font-family:"Verdana", Verdana, sans-serif;
}
*/

/*
span.custom {
  font-family:"Verdana", Verdana, sans-serif;
}
*/

.navbar-inner {
  background-color: #000; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

/*

textarea {
  font-family:"Verdana", Verdana, sans-serif;
}

body {
  font-family:"Verdana", Verdana, sans-serif;
}

p {
  font-family:"Verdana", Verdana, sans-serif;
}

.navbar-search .search-query {
  font-family:"Verdana", Verdana, sans-serif;
}
*/