.table th, .table td {
	text-align: center;
	vertical-align: middle;
}

.hide {
	display: none;
}


label.valid {
  width: 24px;
  height: 24px;
  background: url(assets/img/valid.png) center center no-repeat;
  text-indent: -9999px;
}

label.error {
  display: inline-block;
  color: #CC0000;
  padding: 2px 8px;
  margin-top: 2px;
  font-weight: bold;
}

/*
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
*/

.centered {
  text-align: center;
}

.footer {
  margin-top: 40px;
}

.feedback {
  margin-top: 80px;
  text-align: center;
}

.mainForm {
  margin-top: 40px;
}

.feedbackButton {
    width: 120px;
}

.helpMargin {
  margin-top: 40px;
}

.flattr {
  margin-top: 40px;
}

.certCount {
  margin-top: 40px;
}

.donations {
  margin-top: 30px;
}