:root {
	--color-red : #ec7063;
	--color-grey: #eaeded;
	--color-yellow: #f4d03f;
	--color-white: #fbfcfc;
	--color-light-green: #DAF7A6;
	--color-green: #2ecc71;
}


#header {
	margin-top: 5%;
	text-align: center;
}

#subnote {
	font-size: 3rem;
	color: var(--color-red);
	font-weight: bold;
	font-style: italic;
}

#cert-warning {
	margin-top: 0%;
	text-align: center;
	color: black;
	font-weight: bold;
    border: 3px solid var(--color-yellow);
    border-radius: 5px;
}

#cert-warning-text {
	margin-bottom: 0%;
}

#cert-form {
	margin-top: 5%;
}

#status-message {
	margin-top: 7%;
	text-align: center;
	color: black;
	font-weight: bold;
    border-radius: 5px;
    visibility: hidden;
}

.success-status-message {
    border: 3px solid var(--color-light-green);
}

.error-status-message {
    border: 3px solid var(--color-red);
}

#status-message-text {
	margin-bottom: 0%;
}

#download-buttons {
	margin-top: 4%;
	visibility: hidden;
}

#download-pfx, #download-pem {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid var(--color-green);
    background-color: var(--color-grey);
    color: black;
}


#submit-button {
    position: absolute;
    right: 0px;
    width: 150px;
}

#footer {
	margin-top: 5%;
	text-align: right;
}

#required-input-annotation {
	color:var(--color-green);
	font-size: 1.2rem;
}

#non-required-input-annotation {
	font-weight: normal;
}