:root {
	/*
	--color-red : #ec7063;
	--color-yellow: #f4d03f;
	--color-white: #fbfcfc;
	--color-light-green: #DAF7A6;
	--color-green: #2ecc71;
	*/
	--color-light-grey: #eaeded;
	--color-dark-grey : #34495e;
	--color-red : #e74c3c;
	--color-green : #58d68d;
	--color-yellow : #f9e79f;
	--color-blue : #85c1e9;
	--color-light-red : #ec7063;
}

input:invalid {
  border: 2px solid red;
}


#header {
	margin-top: 5%;
	text-align: center;
}
#title-note, #title-generate-note {
	margin-bottom: 0%;
}

#subnote {
	font-size: 3rem;
	color: var(--color-green);
	font-weight: bold;
	font-style: italic;
}

#cert-warning {
	margin-top: 0%;
	text-align: center;
	color: black;
	font-weight: bold;
    border: 3px solid var(--color-blue);
    border-radius: 5px;
}

#cert-warning-text {
	margin-bottom: 0%;
}

#cert-form {
	margin-top: 5%;
}

#status-message {
	margin-top: 7%;
	text-align: center;
	color: black;
	font-weight: bold;
  border-radius: 5px;
  /*visibility: hidden;*/
}

.success-status-message {
    border: 3px solid var(--color-green);
}

.error-status-message {
    border: 3px solid var(--color-red);
}

#status-message-text {
	margin-bottom: 0%;
}

#download-buttons {
	margin-top: 4%;
	visibility: hidden;
}

#download-pfx, #download-pem {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 3px solid black;
    background-color: var(--color-light-grey);
    color: black;
}


#submit-button {
    position: absolute;
    right: 0px;
    width: 250px;
}

#footer {
	margin-top: 5%;
	text-align: right;
}

#required-input-annotation {
	color:var(--color-light-red);
	font-size: 1.2rem;
}

#non-required-input-annotation {
	font-weight: normal;
}

#info-button {
	margin-top: 0%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    background-color: white;
    text-align: left;
	font-size: 1rem;
	color: var(--color-light-red);
	font-weight: bold;
	font-style: italic;
}



@import "https://fonts.googleapis.com/css?family=Raleway";
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  transition: opacity .15s ease-in-out;
}
.modal.modal-open {
  visibility: visible;
  backface-visibility: visible;
  opacity: 1;
  z-index: 1;
}
.modal .modal-inner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal .modal-inner .modal-content {
  background-color: white;
  max-width: 35em;
  padding: 1em 1.5em;
  position: relative;
  margin: 2em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}
.modal .modal-inner .modal-content .modal-close-icon {
  position: absolute;
  right: 1.5em;
}
.modal .modal-inner .modal-content .modal-content-inner {
  padding-right: 2em;
}
.modal .modal-inner .modal-content .modal-content-inner h1, .modal .modal-inner .modal-content .modal-content-inner h2, .modal .modal-inner .modal-content .modal-content-inner h3, .modal .modal-inner .modal-content .modal-content-inner h4, .modal .modal-inner .modal-content .modal-content-inner h5, .modal .modal-inner .modal-content .modal-content-inner h6 {
  margin-bottom: 0.25em;
}
.modal .modal-inner .modal-content .modal-content-inner p {
  margin-bottom: 1em;
}
.modal .modal-inner .modal-content .modal-buttons-seperator {
  margin: 1.5em 0;
  margin-top: 0;
}
.modal .modal-inner .modal-content .modal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.modal .modal-inner .modal-content .modal-buttons button {
  margin-left: 1em;
}
.modal .modal-inner .modal-content .modal-buttons button:first-child {
  margin-left: 0;
}
